/* header portion */
* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.header {
    text-align: center;
    background-image: url('../images/headerpic.jpg');
    background-repeat: no-repeat;

}

.header-title {
    color: #FFFFFF;

}

.header-div {
    padding: 130px 120px;
}

.primary-btn {
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    border: 0;
    background: #C780FA;
    border-radius: 5px;
    height: 50px;
    padding: 10px 20px;

}

.primary-btn:hover {
    background-color: lightsalmon;
    transition: 0.7s;
}

.header-para {
    padding: 20px 0;
    color: #FFFFFF;
}

/* donation-section */

.donation-section {
    text-align: center;
    padding: 130px;
}

.section-title {
    padding: 20px;
}

.section-para {
    padding-bottom: 20px;
    color: grey;
}

.five-btn {
    padding-top: 10px;
    padding-bottom: 30px;


}

.buttons {
    font-weight: 700;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    height: 80px;
    padding: 10px 20px;
    margin-right: 20px;
    color: lightslategray;
}

.buttons:hover {
    background-color: #EB455F;
    transition: 0.6s;
    color: #FFFFFF;

}

.amount {
    color: grey;
    padding: 5px;
    font-size: small;
}

.hr {
    width: 33%;
    margin-left: auto;
    margin-right: auto;

}

.amount-para-btn {
    padding-top: 20px;
}

/* donation-plan section */

.plans {
    text-align: center;
}

.donation-plans {
    display: flex;
    gap: 30px;
    justify-content: space-around;
    padding: 90px 200px;
}

.plan-title {
    font-weight: 800;
    font-size: 25px;
    padding: 20px 0;

}

.plan-para {
    color: grey;
}

.donations1 {
    background: rgba(177, 188, 190, 0.555);
    padding: 50px 100px;
}

.donations1:hover{
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.6);
    transition: 0.4s;
    
}

.donations2 {
    background: rgba(248, 193, 201, 0.719);
    padding: 50px 100px;
}

.donations2:hover{
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.6);
    transition: 0.4s;
    
}
.donations3 {
    background: rgba(212, 178, 164, 0.685);
    padding: 50px 100px;
}

.donations3:hover{
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.6);
    transition: 0.4s;
    
}
/* adding  extra  text and images */

.text-img {
    padding: 80px 200px;
}

.text {
    display: flex;
    padding-bottom: 90px;
    align-items: center;
    justify-content: center;
}

.donation-img1 {
    height: 400px;
    width: 600px;
    border: 0;
    border-radius: 5px;


}

.donation-img2 {
    height: 400px;
    width: 600px;
    border: 0;
    border-radius: 5px;
    float: left;

}

.only-text1 {
    padding-right: 100px;
}

.only-text2 {
    padding-left: 100px;
}

.ot-para {
    color: grey;
    padding: 20px 0;
}

.contribute-btn {
    font-weight: 700;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    height: 60px;
    padding: 10px 20px;
    margin-right: 20px;
    color: #FFFFFF;
    background: #EB455F;
}

.contribute-btn:hover {
    background-color: aqua;
    transition: 0.4s;
    color: black;
}

/* update section */

.update {
    text-align: center;
    padding-bottom: 60px;
}

.update-para p {
    color: gray;
    padding-top: 30px;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 80px;
}

/* subscribe section */



.email-sub {
    max-width: 60%;
    margin: 0 auto;
    display: flex;
    gap: 0;
    justify-content:center;
    background-color: lightsalmon;
    padding-top: 60px;
    padding-bottom: 60px;
    border-radius: 5px;
    margin-bottom: 100px;
}
.input{
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 10px 20px;
}
.sub-btn{
    font-weight: 700;
    color: #FFFFFF;
    border: none;
    background: #EB455F;
    padding: 10px 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.sub-btn:hover{
    background-color: aqua;
    transition: 0.4s;
    color: black;
}
/* footer */

.footer{
    background: black;
    text-align: center;
    color: #FFFFFF;
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-para {
    font-size: 50px;
    color: orangered;
    padding-bottom: 30px;
}